* {
	transition-duration: 0.5s;
	text-align: center;
	font-family: "Inconsolata", monospace;
	font-weight: bold;
	table-align: center;
	margin: auto;
}

*:focus {
	outline: none;
	webkit-outline: none;
}

body {
	background-color: black;
	color: #dfdfdf;
	overflow: hidden;
}

html, body {
	min-height: 100%;
	height: 100%;
}

.upgTable {
	display: flex !important;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgRow {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgAlign {
	height: 120px;
	vertical-align: 0
}

h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

.treeNode {
	height: 100px;
	width: 100px;
	border: var(--hqProperty1);
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	border-radius: 50%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 40px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
}

.locked {
	background-color: #9c6e6e !important;
	cursor: not-allowed;
}

.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5)
}

.treeNode.notify {
	transform: scale(1.1, 1.1);
	border-color: rgba(255, 0, 0, 0.125) rgba(255, 0, 0, 0.25) rgba(255, 0, 0, 0.25) rgba(255, 0, 0, 0.125);
	box-shadow: var(--hqProperty2a), 0px 0px 20px #ff0000 !important;
	z-index: 3
}

.treeNode.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: var(--hqProperty2a), 0px 0px 20px rgba(255, 255, 255, 0.5);
	z-index: 4
}

.bought {
	background-color: #77bf5f !important;
	cursor: default;
}

.back {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	border: 1px solid black;
	color: white;
	font-size: 40px;
	cursor: pointer;
}

.back:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0px 0px 7px white;
}

.reset {
	height: 125px;
	width: 150px;
	border-radius: 40%;
	border: 4px solid;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
}

.upg {
	height: 120px;
	width: 120px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	font-size: 10px;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
}

.longUpg {
	height: 50px;
	width: 120px;
	border-radius: 50%;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	font-size: 10px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
}

#points {
	color: white;
	text-shadow: 0px 0px 10px white;
}

.p {
	background-color: #439ea3;
	color: rgba(0, 0, 0, 0.5);
}

.p_txt {
	color: #439ea3;
	text-shadow: 0px 0px 10px #439ea3;
}

.b {
	background-color: #415a9e;
	color: rgba(0, 0, 0, 0.5);
}

.b_txt {
	color: #415a9e;
	text-shadow: 0px 0px 10px #415a9e;
}

.g {
	background-color: #409c6e;
	color: rgba(0, 0, 0, 0.5);
}

.g_txt {
	color: #409c6e;
	text-shadow: 0px 0px 10px #409c6e;
}

.e {
	background-color: #9643a3;
	color: rgba(0, 0, 0, 0.5);
}

.e_txt {
	color: #9643a3;
	text-shadow: 0px 0px 10px #9643a3;
}

.t {
	background-color: #3f993d;
	color: rgba(0, 0, 0, 0.5);
}

.t_txt {
	color: #3f993d;
	text-shadow: 0px 0px 10px #3f993d;
}

.s {
	background-color: #dfdfdf;
	color: rgba(0, 0, 0, 0.5);
}

.s_txt {
	color: #dfdfdf;
	text-shadow: 0px 0px 10px #dfdfdf;
}

.sb {
	background-color: #494b99;
	color: rgba(0, 0, 0, 0.5);
}

.sb_txt {
	color: #494b99;
	text-shadow: 0px 0px 10px #494b99;
}

.h {
	background-color: #a14040;
	color: rgba(0, 0, 0, 0.5);
}

.h_txt {
	color: #a14040;
	text-shadow: 0px 0px 10px #a14040;
}

.q {
	background-color: #ff2bf2;
	color: rgba(0, 0, 0, 0.5);
}

.q_txt {
	color: #ff2bf2;
	text-shadow: 0px 0px 10px #ff2bf2;
}

.hb {
	background-color: #513d94;
	color: rgba(0, 0, 0, 0.5);
}

.hb_txt {
	color: #513d94;
	text-shadow: 0px 0px 10px #513d94;
}

.ss {
	background-color: #eff7ff;
	color: rgba(0, 0, 0, 0.5);
}

.ss_txt {
	color: #eff7ff;
	text-shadow: 0px 0px 10px #eff7ff;
}

.hg {
	background-color: #3d9989;
	color: rgba(0, 0, 0, 0.5);
}

.hg_txt {
	color: #3d9989;
	text-shadow: 0px 0px 10px #3d9989;
}

.m {
	background-color: #eb34c0;
	color: rgba(0, 0, 0, 0.5);
}

.m_txt {
	color: #eb34c0;
	text-shadow: 0px 0px 10px #eb34c0;
}

.ba {
	background-color: #ebc88f;
	color: rgba(0, 0, 0, 0.5);
}

.ba_txt {
	color: #ebc88f;
	text-shadow: 0px 0px 10px #ebc88f;
}

.sg {
	background-color: #3d997a;
	color: rgba(0, 0, 0, 0.5);
}

.sg_txt {
	color: #3d997a;
	text-shadow: 0px 0px 10px #3d997a;
}

.sp {
	background-color: #4295a5;
	color: rgba(0, 0, 0, 0.5);
}

.sp_txt {
	color: #4295a5;
	text-shadow: 0px 0px 10px #4295a5;
}

.l {
	background-color: #7fbf7f;
	color: rgba(0, 0, 0, 0.5);
}

.l_txt {
	color: #7fbf7f;
	text-shadow: 0px 0px 10px #7fbf7f;
}

.ps {
	background-color: #b38fbf;
	color: rgba(0, 0, 0, 0.5);
}

.ps_txt {
	color: #b38fbf;
	text-shadow: 0px 0px 10px #b38fbf;
}

.hs {
	background-color: #dfdfff;
	color: rgba(0, 0, 0, 0.5);
}

.hs_txt {
	color: #dfdfff;
	text-shadow: 0px 0px 10px #dfdfff;
}

.i {
	background-color: #e5dab7;
	color: rgba(0, 0, 0, 0.5);
}

.i_txt {
	color: #e5dab7;
	text-shadow: 0px 0px 10px #e5dab7;
}

#optionWheel {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

#optionWheel:hover {
	transform: rotate(360deg);
}

#info {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 50px;
	left: 4px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
}

#info:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0px 10px #02f2f2,
              -3px 0px 12px #02f2f2;
}

a {
	color: #007fff;
	text-decoration-line: none;
	cursor: pointer
}

.link {
	display: block;
	font-size: 20px;
	color: #41f5f5;
	text-decoration-line: none;
	cursor: pointer;
	width: 100%;
	min-width: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
	text-decoration: none;
}

.link:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0px 10px #02f2f2,
              -3px 0px 12px #02f2f2;
}

.opt {
	height: 100px;
	width: 100px;
	border-radius: 25%;
	border: 4px solid;
	background-color: #a1a1a1;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.opt:hover {
	background-color: #439ea3;
}

.hidden {
	visibility: hidden;
	height: 50px !important;
}

.canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -999;
}

.milestone {
	width: 100%;
	height: 75px;
	background-color: #bf8f8f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.milestoneDone {
	width: 100%;
	height: 75px;
	background-color: #77bf5f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(255, 255, 255, 0.125) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.left {
	position: absolute;
	left: 0;
}

.remove {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.remove:hover {
	transform: scale(1.1, 1.1);
}

.col {
	min-width: 49.5%;
	max-width: 49.5%;
	width: 49.5%;
	height: 100%;
	min-height: 100%;
	column-span: 1;
	position: absolute;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.col.right {
	top: 0;
	right: 0;
}

#app {
	column-count: 2;
	column-width: 50%;
	min-height: 100%;
}

.vl {
	border-left: 6px solid #969696;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0
}

ul {
	list-style-type: none;
}

.hChall {
	background-color: #fa7f8a;
	border: 2px solid #ff0017;
	color: #ff0017;
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 33.33%;
}

.hChall.done {
	background-color: #95fcb4;
	border: 2px solid #038c2c;
	color: #038c2c;
}

.hChall.canComplete {
	background-color: #93f0fa;
	border: 2px solid #03858f;
	color: #03858f;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

[tooltip] {
	position: relative;
	z-index: 2;
	white-space: pre-wrap;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}